<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todos.name }}</h1>
            <h2>Tasks</h2>
        </div>
    </main>
</body>
</html>
