<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo List</title>
</head>
<body>
    <main>
        <div>
            <h1>
                My Lists
            </h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in list %}
                    <tr>
                        <td>{{ list.name }}</td>
                        <td>{{ list.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
